@font-face {
  font-family: 'JetBrains Mono';
  src: url('fonts/JetBrainsMono-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}



/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'JetBrains Mono', sans-serif;
    line-height: 1.6;
  }
  
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background: #0a9621;
    color: #fff;
    position: fixed; 
    top: 0; 
    width: 100%; 
    padding: 20px;
    z-index: 1000; 
    
  }

  main {
    margin-top: 80px; 
  }
  
  header .logo img {
    height: 50px;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
  }
  
  header nav ul li {
    margin: 0 10px;
  }
  
  header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  header nav ul li a:hover {
    color: #222;
  }

  

  .banner {
    position: relative;
    width: 100%;
    height: 400px;
    overflow: hidden;
    background: url('') no-repeat center center/cover;
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .parallax {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('imagens/campo.jpg'); /* Caminho para sua imagem de fundo */
    background-size: cover;
    background-position: center;
    z-index: -1; /* Coloca a imagem atrás do conteúdo */
    transform: translate3d(0, 0, 0);
  }
  
  .banner img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Garante que a imagem cubra toda a área do banner */
  }
  

  .banner-text {
    position: absolute;
    color: #ffffff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  
}

  .banner-text h1 {
    font-size: 3em;
    margin-bottom: 10px;
  }
  
  .banner-text p {
    font-size: 1.2em;
  }
  
  main {
    margin-top: 80px; /* Adiciona um espaço na parte superior do conteúdo principal para evitar que fique ocultado pelo cabeçalho */
  }

  .intro, .highlights, .contact-form, .contact-info {
    padding: 20px;
    text-align: center;
  }
  
  .highlights {
    display: flex;
    justify-content: space-around;
    background: #f4f4f4;
  }
  
  .highlight {
    width: 30%;
  }
  
  .highlight h3 {
    margin-bottom: 10px;
  }
  
  .highlight a {
    display: inline-block;
    margin-top: 10px;
    padding: 10px 15px;
    background: #333;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
  }
  
  footer {
    background: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    justify-content: space-around;
  }
  
  footer .contact-info p, footer .contact-info a {
    color: #fff;
  }
  
  footer .social-media img {
    height: 30px;
    margin: 0 10px;
  }
  